.search-form {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(to top,
      #4169E1 50%, #FFFF00 50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
}

.search-form input {
  width: 500px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}

.button-form {
  display: flex;
  align-items: center;
  height: 55px;
  width: 40px;
  background-color: #FFFF00;
  border: 1px solid #000;
  cursor: pointer;

  &:hover {
    background-color: #4169E1;
  }

}

.search-svg {
  fill: currentColor;
}